In [1]:
import pandas as pd
import os
import numpy as np


#from google.colab import drive
#drive.mount('/content/gdrive')
os.chdir('C:\insta\data')

In [2]:
# feature built based on users
df_user = pd.read_csv('df_user.csv')
#df_user = pd.read_csv('gdrive/My Drive/Colab Notebooks/instacart/df_user.csv')
df_user.head()

,user_id,user_num_orders,user_num_prods,user_num_distinct_prods,user_avg_num_prods,user_avg_interval,user_dow_std,user_hour_std,user_dow_median,user_hour_median,user_dow_most,user_hour_most,user_num_prods_last_order,user_reorder_ratio
0,1,10,59,18,5.900000,17.600,1.2700,3.592,2.5,8.5,1,7,NaN,0.69500
1,2,14,195,102,13.928571,14.140,1.2310,1.555,2.0,10.0,1,10,9.0,0.47680
2,3,12,88,33,7.333333,11.086,1.3120,1.443,0.5,16.0,0,16,16.0,0.62500
3,4,5,18,17,3.600000,11.000,0.8364,1.673,5.0,13.0,4,11,6.0,0.05554
4,5,4,37,23,9.250000,10.000,1.5000,2.828,2.0,17.0,3,18,3.0,0.37840

In [3]:
# features built based on products
df_products_merged = pd.read_csv('df_products_merged.csv', encoding = 'latin1')
#df_products_merged = pd.read_csv('gdrive/My Drive/Colab Notebooks/instacart/df_products_merged.csv')
df_products_merged = df_products_merged.drop(['product_name'], axis = 1)
df_products_merged.head()

,product_id,aisle_id,department_id,prod_num_orders,prod_reorder_times,prod_reorder_rate,prod_avg_interval,prod_dow_std,prod_hour_std,prod_dow_median,prod_hour_median,prod_dow_most,prod_hour_most
0,1,61,19,1852,1136,0.613391,9.880,1.825,4.254,3.0,13.0,1,10
1,2,104,13,90,12,0.133333,10.130,2.152,3.941,3.0,13.0,0,11
2,3,94,7,277,203,0.732852,9.914,2.205,4.516,2.0,12.0,1,11
3,4,38,1,329,147,0.446809,12.945,2.156,4.370,2.0,14.0,0,14
4,5,5,13,15,9,0.600000,11.600,2.283,4.547,3.0,11.0,0,11

In [4]:
# feature built based on the specific user and product
df_user_product = pd.read_csv('df_user_product.csv')
#df_user_product = pd.read_csv('gdrive/My Drive/Colab Notebooks/instacart/df_user_product.csv')
df_user_product.head()

,user_id,product_id,spec_last_reorder_status,spec_num_order,spec_num_reorder,spec_perc_order,spec_first_order_num,spec_order_range,spec_order_ratio,spec_popularity_prod,spec_avg_cart_seq,spec_avg_interval,spec_dow_median,spec_hour_median,spec_num_last5,spec_order_ratio_last5
0,1,196,1.0,10,9,1.0,1,10,1.0000,6,1.400,17.60,2.5,8.5,5.0,1.0
1,1,10258,1.0,9,8,0.9,2,9,1.0000,5,3.334,19.56,3.0,9.0,5.0,1.0
2,1,10326,0.0,1,0,0.1,5,6,0.1666,1,5.000,28.00,4.0,15.0,0.0,0.0
3,1,12427,1.0,10,9,1.0,1,10,1.0000,6,3.300,17.60,2.5,8.5,5.0,1.0
4,1,13032,1.0,3,2,0.3,2,9,0.3333,3,6.332,21.67,3.0,8.0,2.0,0.4

In [5]:
# merge the user and user_product based on user_id
merge_1 = pd.merge(df_user,df_user_product,on = 'user_id',how = 'inner')
del df_user
del df_user_product
merge_1.head()

,user_id,user_num_orders,user_num_prods,user_num_distinct_prods,user_avg_num_prods,user_avg_interval,user_dow_std,user_hour_std,user_dow_median,user_hour_median,...,spec_first_order_num,spec_order_range,spec_order_ratio,spec_popularity_prod,spec_avg_cart_seq,spec_avg_interval,spec_dow_median,spec_hour_median,spec_num_last5,spec_order_ratio_last5
0,1,10,59,18,5.9,17.6,1.27,3.592,2.5,8.5,...,1,10,1.0000,6,1.400,17.60,2.5,8.5,5.0,1.0
1,1,10,59,18,5.9,17.6,1.27,3.592,2.5,8.5,...,2,9,1.0000,5,3.334,19.56,3.0,9.0,5.0,1.0
2,1,10,59,18,5.9,17.6,1.27,3.592,2.5,8.5,...,5,6,0.1666,1,5.000,28.00,4.0,15.0,0.0,0.0
3,1,10,59,18,5.9,17.6,1.27,3.592,2.5,8.5,...,1,10,1.0000,6,3.300,17.60,2.5,8.5,5.0,1.0
4,1,10,59,18,5.9,17.6,1.27,3.592,2.5,8.5,...,2,9,0.3333,3,6.332,21.67,3.0,8.0,2.0,0.4

In [6]:
# then merger previous data with products based on product_id
final_merge = pd.merge(merge_1, df_products_merged, on = 'product_id', how = 'inner')
del df_products_merged

final_merge.sample(10)

,user_id,user_num_orders,user_num_prods,user_num_distinct_prods,user_avg_num_prods,user_avg_interval,user_dow_std,user_hour_std,user_dow_median,user_hour_median,...,prod_num_orders,prod_reorder_times,prod_reorder_rate,prod_avg_interval,prod_dow_std,prod_hour_std,prod_dow_median,prod_hour_median,prod_dow_most,prod_hour_most
10301618,91894,13,63,32,4.846154,16.160,1.851,4.310,4.0,13.0,...,483,266,0.550725,9.350,2.059,3.936,3.0,14.0,6,13
4179519,184098,14,137,68,9.785714,15.860,1.703,2.465,1.0,14.5,...,3373,1662,0.492736,10.420,2.016,4.195,2.0,13.0,1,10
12097322,150919,23,334,176,14.521739,12.350,1.781,4.395,5.0,14.0,...,63,19,0.301587,13.710,2.207,3.994,3.0,15.0,0,12
5932054,50489,12,174,89,14.500000,16.580,2.297,2.006,3.0,16.5,...,26154,18071,0.690946,10.380,2.123,4.297,2.0,13.0,0,11
4952708,105859,24,214,153,8.916667,10.875,2.430,3.451,5.0,14.0,...,55484,33857,0.610212,10.340,2.176,4.266,2.0,13.0,0,11
5093591,175587,25,212,113,8.480000,6.960,2.217,4.040,3.0,14.0,...,2741,1160,0.423203,10.210,2.186,4.113,2.0,13.0,0,15
12235691,52409,49,580,259,11.836735,7.164,2.656,3.412,2.0,10.0,...,528,366,0.693182,9.984,2.174,4.355,3.0,13.0,0,13
6774059,5039,4,48,35,12.000000,19.250,2.217,9.016,2.0,11.0,...,7259,4857,0.669100,10.555,2.092,4.400,2.0,13.0,0,10
11231604,91060,57,662,186,11.614035,4.156,2.070,4.883,2.0,18.0,...,1094,523,0.478062,9.780,2.098,4.293,3.0,13.0,0,10
8112708,42416,28,294,171,10.500000,5.355,2.320,4.320,3.0,14.0,...,1605,655,0.408100,8.970,2.030,4.490,3.0,13.0,0,12

In [7]:
final_merge.shape

(13307953, 41)

### Creating Training

In [8]:
# to make train data, need to combine train data from orders.csv
orders = pd.read_csv("orders.csv")
#orders = pd.read_csv('gdrive/My Drive/Colab Notebooks/instacart/orders.csv')
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [9]:
# combine with the last orders(it contains both train and test)
orders_last = orders.loc[((orders.eval_set == 'train') | (orders.eval_set == 'test')), ['user_id', 'eval_set', 'order_id', 'order_dow', 'order_hour_of_day', 'days_since_prior_order']]
del orders
orders_last.head()

,user_id,eval_set,order_id,order_dow,order_hour_of_day,days_since_prior_order
10,1,train,1187899,4,8,14.0
25,2,train,1492625,1,11,30.0
38,3,test,2774568,5,15,11.0
44,4,test,329954,3,12,30.0
49,5,train,2196797,0,11,6.0

In [10]:
#merging the orders_last with feature data (final_merger)
final = final_merge.merge(orders_last, on='user_id', how='left')
del final_merge
del orders_last
final.head()

,user_id,user_num_orders,user_num_prods,user_num_distinct_prods,user_avg_num_prods,user_avg_interval,user_dow_std,user_hour_std,user_dow_median,user_hour_median,...,prod_hour_std,prod_dow_median,prod_hour_median,prod_dow_most,prod_hour_most,eval_set,order_id,order_dow,order_hour_of_day,days_since_prior_order
0,1,10,59,18,5.900000,17.600,1.270,3.592,2.5,8.5,...,3.727,3.0,12.0,1,10,train,1187899,4,8,14.0
1,15,22,72,13,3.272727,10.320,1.816,2.361,2.0,11.0,...,3.727,3.0,12.0,1,10,test,2161313,1,9,7.0
2,19,9,204,133,22.666667,8.445,1.811,3.701,5.0,13.0,...,3.727,3.0,12.0,1,10,test,1735923,6,17,8.0
3,21,33,205,102,6.212121,9.610,1.481,2.340,1.0,10.0,...,3.727,3.0,12.0,1,10,train,1854765,1,12,28.0
4,31,20,299,190,14.950000,4.650,1.673,2.992,2.5,11.0,...,3.727,3.0,12.0,1,10,test,280888,4,9,18.0

In [11]:
#df_dow = pd.read_csv("gdrive/My Drive/Colab Notebooks/instacart/df_dow.csv")
#df_hour = pd.read_csv("gdrive/My Drive/Colab Notebooks/instacart/df_hour.csv")
df_dow = pd.read_csv("df_dow.csv")
df_hour = pd.read_csv("df_hour.csv")
final = final.merge(df_dow, on = 'order_dow', how='inner')
final = final.merge(df_hour, on = 'order_hour_of_day', how='inner')
del df_dow
del df_hour

final.sample(10)

,user_id,user_num_orders,user_num_prods,user_num_distinct_prods,user_avg_num_prods,user_avg_interval,user_dow_std,user_hour_std,user_dow_median,user_hour_median,...,prod_hour_median,prod_dow_most,prod_hour_most,eval_set,order_id,order_dow,order_hour_of_day,days_since_prior_order,t_dow_orders,t_hour_orders
6708876,121772,39,400,144,10.256410,8.484,2.322,3.633,5.0,10.0,...,13.0,0,14,train,3397,2,13,10.0,4217798,2663292
10120847,102131,33,302,120,9.151515,10.630,2.121,6.633,4.0,9.0,...,13.0,6,13,train,1922866,3,0,7.0,3844117,218948
10204053,103195,6,72,41,12.000000,7.000,1.472,3.615,1.5,15.5,...,13.0,1,11,train,2929155,4,14,30.0,3787215,2691548
7119644,189691,22,327,116,14.863636,13.410,1.521,2.514,3.0,15.0,...,13.0,0,11,train,723228,1,15,20.0,5665856,2664533
3117336,67217,7,50,44,7.142857,4.000,1.800,2.440,3.0,17.0,...,14.0,0,14,train,1734613,5,11,2.0,4209533,2738582
483601,92876,61,497,173,8.147541,5.703,2.080,3.900,2.0,17.0,...,13.0,0,14,train,914026,0,8,5.0,6209666,1719973
11547557,69262,52,562,143,10.807692,6.520,2.066,4.900,3.0,10.0,...,13.0,0,13,train,706728,2,7,15.0,4217798,891937
9735625,124143,50,651,186,13.020000,4.700,1.982,3.938,2.0,14.0,...,13.0,0,10,train,1490435,0,18,8.0,6209666,1637923
180569,16163,59,962,203,16.305085,5.883,2.389,4.492,4.0,13.0,...,13.0,0,10,train,1198433,6,8,9.0,4500304,1719973
70179,187902,5,74,53,14.800000,22.800,2.387,4.086,1.0,9.0,...,13.0,5,15,train,80276,4,8,30.0,3787215,1719973

In [12]:
test = final[final.eval_set == 'test']

#test.drop(['eval_set', 'order_id'], axis = 1, inplace = True)
test = test.drop(['eval_set', 'order_id'], axis = 1)

test = test.replace(np.nan, 0)

#test.to_csv('gdrive/My Drive/Colab Notebooks/instacart/test.csv', index = False)
test.to_csv('test.csv', index = False)
test.head()

,user_id,user_num_orders,user_num_prods,user_num_distinct_prods,user_avg_num_prods,user_avg_interval,user_dow_std,user_hour_std,user_dow_median,user_hour_median,...,prod_hour_std,prod_dow_median,prod_hour_median,prod_dow_most,prod_hour_most,order_dow,order_hour_of_day,days_since_prior_order,t_dow_orders,t_hour_orders
1,8942,4,56,38,14.000000,21.25,1.414,4.360,3.5,9.5,...,3.727,3.0,12.0,1,10,4,8,30.0,3787215,1719973
4,24280,18,27,14,1.500000,17.39,1.382,2.635,2.0,13.0,...,3.727,3.0,12.0,1,10,4,8,2.0,3787215,1719973
8,34207,3,5,4,1.666667,3.00,1.000,2.518,3.0,9.0,...,3.727,3.0,12.0,1,10,4,8,21.0,3787215,1719973
9,42970,3,16,12,5.333333,19.67,0.577,7.023,5.0,16.0,...,3.727,3.0,12.0,1,10,4,8,30.0,3787215,1719973
12,60073,35,365,126,10.428571,9.80,2.693,4.668,1.0,17.0,...,3.727,3.0,12.0,1,10,4,8,11.0,3787215,1719973

In [13]:
print(test.shape)
print(test.isnull().values.any())

(4833292, 46)
False

In [14]:
# train dataset
train = final[final.eval_set == 'train']
train.head()

,user_id,user_num_orders,user_num_prods,user_num_distinct_prods,user_avg_num_prods,user_avg_interval,user_dow_std,user_hour_std,user_dow_median,user_hour_median,...,prod_hour_median,prod_dow_most,prod_hour_most,eval_set,order_id,order_dow,order_hour_of_day,days_since_prior_order,t_dow_orders,t_hour_orders
0,1,10,59,18,5.900000,17.600,1.270,3.592,2.5,8.5,...,12.0,1,10,train,1187899,4,8,14.0,3787215,1719973
2,11192,21,192,37,9.142857,14.520,1.641,4.890,3.0,13.0,...,12.0,1,10,train,1071098,4,8,30.0,3787215,1719973
3,12100,7,19,4,2.714286,20.280,0.951,3.055,4.0,15.0,...,12.0,1,10,train,1339982,4,8,22.0,3787215,1719973
5,25303,9,275,141,30.555556,7.223,2.049,7.380,1.0,8.0,...,12.0,1,10,train,1288958,4,8,30.0,3787215,1719973
6,26923,55,195,21,3.545455,6.363,1.067,2.215,1.0,11.0,...,12.0,1,10,train,2644818,4,8,10.0,3787215,1719973

In [15]:
#merging the information contained in the order_products__train.csv into data_train.
order_products_train = pd.read_csv("order_products__train.csv")
#order_products_train = pd.read_csv('gdrive/My Drive/Colab Notebooks/instacart/order_products__train.csv')
order_products_train.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [16]:
#merging the information contained in the order_products__train.csv into train.
train = train.merge(order_products_train[['product_id', 'order_id', 'reordered']], on=['product_id', 'order_id'], how='left')
del order_products_train
train.head()

,user_id,user_num_orders,user_num_prods,user_num_distinct_prods,user_avg_num_prods,user_avg_interval,user_dow_std,user_hour_std,user_dow_median,user_hour_median,...,prod_dow_most,prod_hour_most,eval_set,order_id,order_dow,order_hour_of_day,days_since_prior_order,t_dow_orders,t_hour_orders,reordered
0,1,10,59,18,5.900000,17.600,1.270,3.592,2.5,8.5,...,1,10,train,1187899,4,8,14.0,3787215,1719973,1.0
1,11192,21,192,37,9.142857,14.520,1.641,4.890,3.0,13.0,...,1,10,train,1071098,4,8,30.0,3787215,1719973,NaN
2,12100,7,19,4,2.714286,20.280,0.951,3.055,4.0,15.0,...,1,10,train,1339982,4,8,22.0,3787215,1719973,1.0
3,25303,9,275,141,30.555556,7.223,2.049,7.380,1.0,8.0,...,1,10,train,1288958,4,8,30.0,3787215,1719973,NaN
4,26923,55,195,21,3.545455,6.363,1.067,2.215,1.0,11.0,...,1,10,train,2644818,4,8,10.0,3787215,1719973,NaN

In [17]:
#replace the NAN values with 0 in the reordered
train.reordered.fillna(0, inplace=True)
train.replace(np.nan, 0, inplace = True)

In [18]:
#deleting eval_set, order_id as they are not needed for training.
#train.drop(['eval_set', 'order_id'], axis = 1, inplace = True)
train = train.drop(['eval_set', 'order_id'], axis = 1)

#train.to_csv('gdrive/My Drive/Colab Notebooks/instacart/train.csv', index = False)
train.to_csv('train.csv', index = False)

#setting user_id and product_id as index.
#train = train.set_index(['user_id', 'product_id'])

train.head()

,user_id,user_num_orders,user_num_prods,user_num_distinct_prods,user_avg_num_prods,user_avg_interval,user_dow_std,user_hour_std,user_dow_median,user_hour_median,...,prod_dow_median,prod_hour_median,prod_dow_most,prod_hour_most,order_dow,order_hour_of_day,days_since_prior_order,t_dow_orders,t_hour_orders,reordered
0,1,10,59,18,5.900000,17.600,1.270,3.592,2.5,8.5,...,3.0,12.0,1,10,4,8,14.0,3787215,1719973,1.0
1,11192,21,192,37,9.142857,14.520,1.641,4.890,3.0,13.0,...,3.0,12.0,1,10,4,8,30.0,3787215,1719973,0.0
2,12100,7,19,4,2.714286,20.280,0.951,3.055,4.0,15.0,...,3.0,12.0,1,10,4,8,22.0,3787215,1719973,1.0
3,25303,9,275,141,30.555556,7.223,2.049,7.380,1.0,8.0,...,3.0,12.0,1,10,4,8,30.0,3787215,1719973,0.0
4,26923,55,195,21,3.545455,6.363,1.067,2.215,1.0,11.0,...,3.0,12.0,1,10,4,8,10.0,3787215,1719973,0.0

In [19]:
print(train.shape)
print(train.isnull().values.any())

(8474661, 47)
False